<div ng-controller="MarkerPopup">
	<!-- <div>
		<p><b>Address</b>: {{place.Address}}&nbsp&nbsp<b>Area</b>:{{place.area}}&nbsp&nbsp<b>pType</b>:
			{{place.ptype}}&nbsp&nbsp<b>Subtype</b>: {{place.subtype}}&nbsp&nbsp&nbsp<b>Code</b>:
			{{place.uCode}}
	</div>
	<hr>
	<div>
		updated_at: <b>{{place.updated_at}}</b>&nbsp&nbsp&nbsp<b>update Count</b>:
		{{place.update_count}}&nbsp<small>Times</small>&nbsp&nbsp&nbsp<b>userId</b>: <small>{{place.userID}}</small>
	</div>


	<div class="float-right"><i class="ti-user"></i><span>{{place.userID}}</span></div>

	 -->
	 <div class="mb-1" style="font-size:12px;">
		<i class="ti-home"></i>&nbsp 
		<span class="ng-binding">
			<b>{{place.uni}}</b>
		</span>
		<br>
		<i class="ti-direction"></i>&nbsp <span class="ng-binding">Division: <b>{{place.div}}</b></span><br>
		<i class="ti-direction"></i>&nbsp <span class="ng-binding">District: <b>{{place.dis}}</b></span><br>
		<i class="ti-direction"></i>&nbsp <span class="ng-binding">Sub District: <b>{{place.subdis}}</b></span><br>

		
	</div>

	<hr>
	
</div>