<div class="content map-content map-content-with-search">
    <div class="animated fadeIn">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Reverse Geocode Log</h4>
                            </div>
                        </div>
                    </div>
                    <div class="gmap_unix card-body" bs-loading-overlay bs-loading-overlay-reference-id="first">
                        <leaflet  class="map map-view" defaults="defaults" center="center" markers="markers"
                        controls="controls" layers="layers" event-broadcast="events" geojson="geojson" width='100%'>
                    
                        </leaflet>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->

        </div>
        <!-- /# row -->

    </div><!-- .animated -->
</div><!-- .content -->
<div class="clearfix"></div>