 <div class="animated ">
   <div class="modal-header">
     <h3 class="modal-title">Road Polyline</h3>
   </div>
   <div class="modal-body">
     <form class="form" ng-submit="update_name_polyline(road_number)">


       <div class="col-md-12">
         <label class="label">Road Name/Number </label>
         <input type="text" placeholder="road number/name" class="form-control" ng-model="road_number" />
       </div>


       <div class="col-md-12">
         <button class="btn btn-lg btn-success" type="submit">Create Polyline</button>
       </div>



     </form>
   </div>



   <div class="modal-footer">


   </div>
 </div>