<div class="content map-content">
    <div class="animated fadeIn">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Polygon Data FIx</h4>
                    </div>
                    <div class="gmap_unix card-body">
                        <leaflet class="map-view map" center="center" controls="controls" layers="layers" width='100%'>

                        </leaflet>

                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->

        </div>
        <!-- /# row -->

    </div><!-- .animated -->
</div><!-- .content -->
<div class="clearfix"></div>